<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medications</title>
</head>
<body>
    <div class=container>
    <h1>Medications</h1>
    <form method="post">
        <label for="number">Enter a patient ID:</label>
        <input type="text" name="number" id="number">
        <input type="submit" value="Search">
    </form>
    
    <br>
    <ul>
    <h3>Result: </h3>
        {% for medication in medications %}
            <li>
                Medication Name: {{ medication.resource.medicationCodeableConcept.text }}<br>}}
                Dosage: {{ medication.resource.dosageInstruction.text }}<br>
                Status: {{ medication.resource.status }}
            </li>   

        {% endfor %}
    </ul>
</body>
</html>


<style>
    .container {
        display: grid;
        place-items: center;
    }
</style>


