<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medication Finder</title>
</head>
<body>
    <div class= "container">       
    <h1>Medication Finder</h1>
    <form method="POST">
        <label for="number">Enter a patient ID:</label>
        <input type="text" name="number" id="number">
        <input type="submit" value="Search">
    </form>
    {% if medications is not none %}
    <br>
    <ul>
    <h3>Medication List: </h3>
        {% for medication in medications %}
            <li>
                Medication: {{ medication.resource.medicationCodeableConcept.coding[0].display }}<br>     
           </li>  
            
        {% endfor %}
    </ul>
    {% else %}
        <p> No medications. </p>
    {% endif %}   

    </div>
</body>
</html>
<style>
    .container {
        display: grid;
        place-items: center;
    }
</style>


